name: amigurumi-store

networks:
  amigurumi-net:
    driver: bridge

volumes:
  sql_data:
    driver: local

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: amigurumi-sql
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Your_password123"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    networks:
      - amigurumi-net

  identity-api:
    build:
      context: ./backend
      dockerfile: ./docker/Identity.Api.Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__IdentityDb: "Server=sqlserver,1433;Database=IdentityDb;User Id=sa;Password=Your_password123;Encrypt=False;TrustServerCertificate=True"
      Jwt__Issuer: amigurumi-store
      Jwt__Audience: amigurumi-store
      Jwt__Key: please-change-me-super-secret-key
    depends_on:
      - sqlserver
    ports:
      - "5001:8080"
    networks:
      - amigurumi-net

  catalog-api:
    build:
      context: ./backend
      dockerfile: ./docker/Catalog.Api.Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__CatalogDb: "Server=sqlserver,1433;Database=CatalogDb;User Id=sa;Password=Your_password123;Encrypt=False;TrustServerCertificate=True"
    depends_on:
      - sqlserver
    ports:
      - "5002:8080"
    networks:
      - amigurumi-net

  ordering-api:
    build:
      context: ./backend
      dockerfile: ./docker/Ordering.Api.Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__OrderingDb: "Server=sqlserver,1433;Database=OrderingDb;User Id=sa;Password=Your_password123;Encrypt=False;TrustServerCertificate=True"
    depends_on:
      - sqlserver
    ports:
      - "5003:8080"
    networks:
      - amigurumi-net

  storefront:
    build:
      context: ./frontend
      dockerfile: ./apps/storefront/Dockerfile
    environment:
      VITE_CATALOG_API_URL: "http://localhost:5002"
      VITE_IDENTITY_API_URL: "http://localhost:5001"
      VITE_ORDERING_API_URL: "http://localhost:5003"
    ports:
      - "5173:4173"
    depends_on:
      - catalog-api
      - identity-api
      - ordering-api
    networks:
      - amigurumi-net

  admin-web:
    build:
      context: ./frontend
      dockerfile: ./apps/admin/Dockerfile
    environment:
      VITE_CATALOG_API_URL: "http://localhost:5002"
      VITE_IDENTITY_API_URL: "http://localhost:5001"
    ports:
      - "5174:4173"
    depends_on:
      - catalog-api
      - identity-api
    networks:
      - amigurumi-net
